<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="chat" src="{{ "/assets/img/chatApp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> RUDP Chat app </h3>
    <ul>
      <li> Networking, RDP, UI, System design</li>
    </ul>
    <p> Implemented a basic TCP chat + reliable file transfer over UDP. Developed with responsive UI In Kivy(pyhton)</p>
    <a class="project-link" href="https://github.com/neryabigon/chat" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="trading" src="{{ "/assets/img/tradingSite.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Flask Trading Site </h3>
    <ul>
      <li> Flask, API </li>
    </ul>
    <p>Trading site, developed with Flask as part of Harvard University online course. A web app via which you can manage portfolios of stocks. </p>
    <p>Not only will this tool allow you to check real stocks’ actual prices and portfolios’ values, it will also let you buy (okay, “buy”) and sell (okay, “sell”) stocks by querying IEX for stocks’ prices.Learnt to develop with flask, including the use of API (for the stocks info and prices)</p>
    <a class="project-link" href="https://github.com/neryabigon/Trading-site" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="obsidian" src="{{ "/assets/img/obsidianThumb.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Knowledge Base </h3>
    <p> This obsidian vault contains a lot of the notes that I have taken and materials I've accumulated during my degree's courses. When starting my degree, one ambition of mine was to open-source as much as I can from it so that many different people can profit from it. This is an ongoing project that will forever grow as I continue to learn new things.</p>
    <a class="project-link" href="https://publish.obsidian.md/mycsvault" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="graphs" src="{{ "/assets/img/graphs.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Directed Graphs Algorithms </h3>
    <ul>
      <li> Algotithms, UI, Graphs</li>
    </ul>
    <p>The goal of this project is to design and implement two key interfaces:
      <ul>
        <li> Weighted directed graph interface.</li>
        <li> Weighted directed graphs algorithms interface.  </li>
      </ul>
      And also to represent the graph in an interactive graphical interface (matplotlib/drawGraph) that will introduce the algorithms.</p>
    <a class="project-link" href="https://github.com/neryabigon/Directed-Networks" target="_blank">Check it out</a>
  </div>
</div>