<div class="user-details">
  <h1> Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="article2" src="{{ "/assets/img/framework.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Crossing Language Identification: Multilingual ASR Framework Based on Semantic Dataset Creation & Wav2Vec 2.0 </h3>
    <p>This study proposes an innovative methodology to enhance the performance of multilingual Automatic Speech Recognition
      (ASR) systems by capitalizing on the high semantic similarity between sentences across different languages and eliminating the
      requirement for Language Identification (LID).</p>
      <ul>
        <li>Published at <a class="link" href="https://www.sciencedirect.com/journal/machine-learning-with-applications" target="_blank">Machine Learning With Applications</a>.</li>
      </ul>
    <a class="project-link" href="https://www.sciencedirect.com/science/article/pii/S2666827023000427" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="article1" src="{{ "/assets/img/wav2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Augmented Wav2Vec 2.0: ASR Improvement Using Data Augmentation for Under-Represented Languages </h3>
    <p>In this paper, we propose a novel approach to improve automatic speech recognition (ASR) performance for under-represented languages using data augmentation. </p>
    <p>Our approach augments the training data by synthesizing new speech data using a combination of noise injection, speed changes, and frequency masking. We show that our technique significantly improves the ASR performance for under-represented languages.</p>
    <ul>
      <li>Under review at <a class="link" href="https://www.sciencedirect.com/journal/expert-systems-with-applications" target="_blank">Expert Systems With Applications</a>.</li>
    </ul>
    <a class="project-link" href="https://github.com/neryabigon/wav2vec2-large-xlsr-53-finetuning/blob/main/ASR%20Augmented%20Wav2Vec2.0.pdf" target="_blank">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="obsidian" src="{{ "/assets/img/obsidianThumb.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Knowledge Base </h3>
    <p> This obsidian vault contains a lot of the notes that I have taken and materials I've accumulated during my degree's courses. When starting my degree, one ambition of mine was to open-source as much as I can from it so that many different people can profit from it. This is an ongoing project that will forever grow as I continue to learn new things.</p>
    <a class="project-link" href="https://publish.obsidian.md/mycsvault/" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="flutter App1" src="{{ "/assets/img/gpt.png" | prepend: site.baseurl }}" style="max-height: 400px;" />
  </div>
  <div class="contents">
    <h3> chatgpt like app </h3>
    <ul>
      <li> Flutter, OpenAi API, UI, System design</li>
    </ul>
    <p> A Flutter chat app that uses the GPT-4 to generate responses and DALLE to generate images based on user's input.  
      <ul>
        <li> Chat with a GPT-4 AI model </li>
        <li> Generate image responses based on user prompt</li>
        <li> Responsive layout for mobile, tablet, and desktop devices</li>
        <li> Theme mode switcher (Light/Dark)</li>
        <li> Save and load chat history</li>
        <li> Accesibility tooltips for buttons</li>
      </ul>
    </p>
    <a class="project-link" href="https://github.com/neryabigon/gpt-app" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="flutter App2" src="{{ "/assets/img/timezmoney.png" | prepend: site.baseurl }}" style="max-height: 400px;" />
  </div>
  <div class="contents-right">
    <h3> Job searching app </h3>
    <ul>
      <li> Flutter, Firebase, UI, System design</li>
    </ul>
    <p> TimeZmoney is a job searching app for various types of jobs such as babysitting, delivery, construction workers, housekeeping, dog walker, waiters, security guards, etc. The app allows users to search and apply for jobs in their local area, as well as post and manage their own job listings.  
      <ul>
        <li> Currently the app is not active - since firebase is not cheap :)</li>
      </ul>
    </p>
    <a class="project-link" href="https://github.com/eladsez/timeZmoney" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="trading" src="{{ "/assets/img/tradingSite.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Flask Trading Site </h3>
    <ul>
      <li> Flask, API </li>
    </ul>
    <p>Trading site, developed with Flask as part of Harvard University online course. A web app via which you can manage portfolios of stocks. </p>
    <p>Not only will this tool allow you to check real stocks’ actual prices and portfolios’ values, it will also let you buy (okay, “buy”) and sell (okay, “sell”) stocks by querying IEX for stocks’ prices.Learned to develop with flask, including the use of API (for the stocks info and prices)</p>
    <a class="project-link" href="https://github.com/neryabigon/Trading-site" target="_blank">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="chat" src="{{ "/assets/img/chatApp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> RUDP Chat app </h3>
    <ul>
      <li> Networking, RDP, UI, System design</li>
    </ul>
    <p> In this project we implemented a chat application that consists of:
      <ul>
        <li>1. Basic messaging and file transfer over TCP.</li>
        <li>2. Transfer of files over UDP using the <a class="link" href="https://en.wikipedia.org/wiki/Reliable_User_Datagram_Protocol" target="_blank">RUDP</a> protocol.</li>
        <li>3. Managing users, files and messaging with <a class="link" href="https://firebase.google.com/" target="_blank">Firebase</a>.</li>
        <li>4. Gui for the client side is made with the <a class="link" href="https://kivy.org/#aboutus" target="_blank">Kivy</a> and <a class="link" href="https://github.com/kivymd/KivyMD" target="_blank">KivyMD</a> frameworks.</li>
    </ul>
</p>
    <a class="project-link" href="https://github.com/neryabigon/RUDP-Chat" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="graphs" src="{{ "/assets/img/graphs.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Directed Graphs Algorithms </h3>
    <ul>
      <li> Algotithms, UI, Graphs</li>
    </ul>
    <p>The goal of this project is to design and implement two key interfaces:
      <ul>
        <li> Weighted directed graph interface.</li>
        <li> Weighted directed graphs algorithms interface.  </li>
      </ul>
      And also to represent the graph in an interactive graphical interface (matplotlib/drawGraph) that will introduce the algorithms.</p>
    <a class="project-link" href="https://github.com/neryabigon/Directed-Networks" target="_blank">Check it out</a>
  </div>
</div>
