<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="chat" src="{{ "/assets/img/chatImg.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> RUDP Chat app </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Implemented a basic TCP chat + reliable file transfer over UDP.</p>
    <a class="project-link" href="https://github.com/neryabigon/chat" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="graphs" src="{{ "/assets/img/graphs.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Directed Graphs Algorithms </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>The goal of this project is to design and implement two key interfaces:
      * Weighted directed graph interface.
      * Weighted directed graphs algorithms interface.  
      
      And also to represent the graph in an interactive graphical interface (matplotlib/drawGraph) that will introduce the algorithms.</p>
    <a class="project-link" href="https://github.com/neryabigon/Directed-Networks">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="chat" src="{{ "/assets/img/obsidianGraph.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Knowledge Base </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> This vault contains a lot of the notes that I have taken during my degree's courses. When starting my degree, one ambition of mine was to open-source as much as I can from it so that many different people can profit from it.</p>
    <a class="project-link" href="https://github.com/neryabigon/chat" target="_blank">Check it out</a>
  </div>
</div>
