<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" width="75" height="75" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" width="75" height="75" />
  </div>
  <div class="tech">
    <h2>Frameworks</h2>
    <img src="https://raw.githubusercontent.com/kivy/kivy/master/kivy/data/logo/kivy-icon-256.png" alt="kivy" width="75" height="75" /> </a>    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" width="75" height="75"/>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original-wordmark.svg" width="75" height="75" />
  </div>
  <div class="tech">
    <h2>Languages</h2>
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg" width="75"height="75"/>    
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-cplusplus-line-wordmark colored"></i>
    <i class="devicon-c-line-wordmark colored"></i>
    <i class="devicon-csharp-line-wordmark colored"></i>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-github-original-wordmark colored"></i>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <img src="https://user-images.githubusercontent.com/66886354/146209443-fcd57e28-771d-4325-8cdc-7c95c2efb6fe.png" alt="vmware" width="75" height="75"/> 
    <i class="devicon-docker-plain-wordmark colored"></i>
    <img src="https://user-images.githubusercontent.com/66886354/147272381-c39e5aa2-3fd9-4a4d-ab9d-4c4c224b29ab.png" alt="wireshark" width="75" height="75"/> 
    <i class="devicon-photoshop-line colored"></i>
  </div>
</div>

